<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selfielock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="com.selfielock.views.LogInPage"
            android:label="@string/LogInPage" >
        </activity>
        
        <activity
            android:name="com.selfielock.views.MainPage"
            android:label="@string/HomePage" >
        </activity>
        
        <activity
            android:name="com.selfielock.views.ProfilePage"
            android:label="@string/Profile" >      
        </activity>
        
        <activity
            android:name="com.selfielock.views.SettingsPage"
            android:label="@string/SettingsPage" >
        </activity>
        
        <activity
            android:name="com.selfielock.views.LockPage"
            android:label="@string/LockPage" >
        </activity>
             
         <activity 
             android:name="com.selfielock.tabs.MainActivity"
             android:label="@string/app_name" >
             
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        
        <!-- <receiver android:name="com.selfielock.tabs.MainActivity" android:permission="android.permission.BIND_DEVICE_ADMIN">  
            <meta-data android:name="android.app.device_admin" android:resource="@layout/policies">
                 
	            <intent-filter>  
	                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"></action>
	            </intent-filter>  
            </meta-data>      
        </receiver> -->
    </application>

</manifest>
