<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selfielock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name="com.selfielock.views.LogInPage"
            android:label="@string/LogInPage" >
        </activity>
        
        <activity
            android:name="com.selfielock.views.MainPage"
            android:label="@string/HomePage" >
        </activity>
        
        <activity
            android:name="com.selfielock.views.ProfilePage"
            android:label="@string/Profile" >      
        </activity>
        
        <activity
            android:name="com.selfielock.views.SettingsPage"
            android:label="@string/SettingsPage" >
        </activity>
             
         <activity 
             android:name="com.selfielock.tabs.MainActivity"
             android:label="@string/app_name" >
             
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
    </application>

</manifest>
